<p id="notice"><%= notice %></p>

<h2>Listing Announcements</h2>

<table>
  <thead>
    <tr>
      <th>Announcement</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @announcements.each do |announcement| %>
      <tr>
        <td><%= announcement.announcement %></td>

      <% if logged_in? %>
        <% if current_user.user_id == 'admin' %>
          <td><%= link_to 'Show', announcement %></td>
          <td><%= link_to 'Edit', edit_announcement_path(announcement) %></td>
          <td><%= link_to 'Destroy', announcement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<% if logged_in? %>
  <% if current_user.user_id == 'admin' %>
    <%= link_to 'New Announcement', new_announcement_path, class: 'btn btn-info' %>
  <% end %>
<% end %>

<%= link_to 'Back', user_dashboard_path, class: 'btn btn-info' %>